workflows/8CM2RUqlrCJxZrtk.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Contact Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "update a contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-26T09:29:20.625Z",
  "id": "8CM2RUqlrCJxZrtk",
  "isArchived": false,
  "meta": null,
  "name": "Get_Contact",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-2024-11-20",
          "mode": "list",
          "cachedResultName": "gpt-4o-2024-11-20"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -660,
        320
      ],
      "id": "3bdeecdf-6795-471e-b637-8af478fce0b5",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a contact management assistant. Your responsibilities include looking up contacts, adding new contacts, or updating a contact's information.\n\nwhen you update the conacts,  you don't need to fill out all the information that is in database, just fill out the information that you are given\n\nAll the output need to be in Vietnamese.\n**Contact Management**  \n   - Use \"Get Contacts\" to retrieve contact information. \n   - Use \"Add or Update Contact\" to store new contact information or modify existing entries. \n   - Use \"notes\" when you need to leave some note that corresponding to the contact as the user request."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -520,
        80
      ],
      "id": "099cf8b4-1ce1-440c-b206-09c7ad5ecb89",
      "name": "Contact Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "8b9b82f9-74f2-4a89-a4f7-f0cf51dc8354",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        180
      ],
      "id": "b4de6785-9330-41e7-b25e-a08bf368cff9",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -740,
        80
      ],
      "id": "dc1d7e14-3ffc-4d33-8b52-3506e97262a6",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1iicmMTFbe7ZOIpHw5WITjEiwc2Y6Hw-7b35AGfx7okY",
          "mode": "list",
          "cachedResultName": "Contact Assistant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iicmMTFbe7ZOIpHw5WITjEiwc2Y6Hw-7b35AGfx7okY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iicmMTFbe7ZOIpHw5WITjEiwc2Y6Hw-7b35AGfx7okY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Họ và Tên",
              "lookupValue": "={{ $fromAI(\"name\") }}"
            },
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $fromAI(\"emailAdress\") }}"
            }
          ]
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -440,
        340
      ],
      "id": "c7d5349d-f279-4a43-93bf-c2e968ed9f99",
      "name": "Get contact"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1iicmMTFbe7ZOIpHw5WITjEiwc2Y6Hw-7b35AGfx7okY",
          "mode": "list",
          "cachedResultName": "Contact Assistant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iicmMTFbe7ZOIpHw5WITjEiwc2Y6Hw-7b35AGfx7okY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1iicmMTFbe7ZOIpHw5WITjEiwc2Y6Hw-7b35AGfx7okY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Họ và Tên": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('H__v__T_n__using_to_match_', ``, 'string') }}",
            "Email": "={{ $fromAI(\"emailAddress\") }}",
            "Công Ty": "={{ $fromAI(\"company\") }}",
            "Số Điện Thoại": "={{ $fromAI(\"phonenumber\") }}",
            "Note": "={{ $fromAI(\"notes\") }}"
          },
          "matchingColumns": [
            "Họ và Tên"
          ],
          "schema": [
            {
              "id": "Họ và Tên",
              "displayName": "Họ và Tên",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Công Ty",
              "displayName": "Công Ty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Số Điện Thoại",
              "displayName": "Số Điện Thoại",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Note",
              "displayName": "Note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        -260,
        340
      ],
      "id": "12343230-3619-462e-8f1a-c664db863ab0",
      "name": "update a contact"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-26T09:29:20.625Z",
  "versionId": "b392c79f-086d-470c-8a50-5c4689494bf3"
}