workflows/E0keJLNm76f5YToj.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-19T12:14:03.699Z",
  "id": "E0keJLNm76f5YToj",
  "isArchived": true,
  "meta": null,
  "name": "Test FB2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1440,
        340
      ],
      "id": "83c51c6d-fecc-4d0f-9421-45516cbd5dd7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appnKcZKibcMSm2TL",
          "mode": "list",
          "cachedResultName": "Post Facebook",
          "cachedResultUrl": "https://airtable.com/appnKcZKibcMSm2TL"
        },
        "table": {
          "__rl": true,
          "value": "tblY9lu9D8WZbRuNw",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appnKcZKibcMSm2TL/tblY9lu9D8WZbRuNw"
        },
        "filterByFormula": "=ID={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -940,
        160
      ],
      "id": "e0122947-1433-4e79-bfe7-53fd1919964b",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "srn9FEup9oSQPslV",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Bạn là một AI chuyên về robot, bạn sẽ viết nội dung về robot dành cho mọi người và đăng tải lên Facebook. Bạn hãy viết cho tôi một bài Facebook chia sẽ về chủ đề: {{ $json['Chủ đề'] }} bao gồm nội dung: {{ $json['Nội dung chính'] }}\nChú ý: \n- Trả ra kết quả bằng tiếng Việt\n+ Title: 1 câu tiêu đề  hấp dẫn và thu hút sự chú ý của người đọc, bạn hãy chọn một câu ngắn gọn, dễ hiểu và liên quan đến nội dung chính. \n+ Content: 1 đoạn nội dung chi tiết nói về chủ đề đó, nội dung đầy đủ, kết hợp các icon ở vị trí hợp lý và tránh lạm dụng.\nBên dưới sẽ có các thẻ được gắn liên quan đến chủ đề và nội dung, khi gắn thẻ hiển thị thẻ màu xanh và người dùng có thể click chuột vào được.Mỗi thẻ xuống dòng cho đẹp và dễ nhìn.\n+ Image: 1 prompt để tạo hình ảnh liên quan đến chủ đề đó.\nFormat nội dung cho người dùng dễ nhìn.\nKết hợp thêm các icon để làm bài viết sinh động hơn, tạo cảm giác gần gũi cho người đọc. \nkhông sử dụng các ký tự đặc biệt như dấu \"#\", \"*\".\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -780,
        340
      ],
      "id": "aec5056a-f827-4640-bf16-3dbfc35590e2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -800,
        660
      ],
      "id": "9ca90632-630b-48b8-a461-b3b10b491535",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FqUSMVyYsnEe60zX",
          "name": "Gemini api_thanhcong"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lưu trạng thái toàn cục giữa các lần chạy workflow\nconst staticData = $getWorkflowStaticData('global');\n\n// Nếu chưa có thì bắt đầu từ 0\nif (!staticData.lastStatus) {\n  staticData.lastStatus = 0;\n}\n\n// Tăng lên 1\nstaticData.lastStatus += 1;\n\n// Nếu vượt quá 10, quay lại 1\nif (staticData.lastStatus > 10) {\n  staticData.lastStatus = 1;\n}\n\n// Trả về giá trị ID mới\nreturn [{ json: { id: staticData.lastStatus } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1180,
        320
      ],
      "id": "b3c2e522-9523-48d1-bc53-277c517a59ba",
      "name": "Code"
    },
    {
      "parameters": {
        "chatId": "8092147975",
        "text": "={{ $json.title }}\n{{ $json.content }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        120
      ],
      "id": "93488ecd-b450-4811-9eaa-f13f1aa63329",
      "name": "Telegram",
      "webhookId": "8d912570-25ad-4c98-9a34-2264e2e1262d",
      "credentials": {
        "telegramApi": {
          "id": "cm8qGuhTq2sKsAJP",
          "name": "Telegram account thanhcong"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f24448-3089-43d7-b140-2727d2f2ae60",
              "name": "title",
              "value": "={{ $('AI Agent').item.json.output.split(\"Title:\")[1].split(\"Content\")[0]}}",
              "type": "string"
            },
            {
              "id": "d4a4a56c-05b5-46cd-8e44-895b892c5f63",
              "name": "content",
              "value": "={{ $('AI Agent').item.json.output.split(\"Content:\")[1].split(\"Image:\")[0]}}",
              "type": "string"
            },
            {
              "id": "558cc008-bd8b-4e21-a997-db0cd9c96d08",
              "name": "image",
              "value": "={{ $('AI Agent').item.json.output.split(\"Image:\")[1]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        160
      ],
      "id": "7a810fc2-8b83-4b97-9bbb-e28842bb1467",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const title = item.json.title || '';\n  const content = item.json.content || '';\n\n  const cleanedTitle = title.replace(/[*]+/g, '').trim();\n  const cleanedContent = content.replace(/[*]+/g, '').trim();\n\n  return {\n    json: {\n      ...item.json,\n      title: cleanedTitle,\n      content: cleanedContent\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        -20
      ],
      "id": "5bac70e3-adbf-4222-94ba-4c9aed1b8214",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "const postDate = new Date().toLocaleString();  // Thời gian hiện tại (ngày giờ)\nreturn [\n  {\n    json: {\n      postDate: postDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        400
      ],
      "id": "0f8580ab-33db-41a2-af8a-3f0213205063",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU",
          "mode": "list",
          "cachedResultName": "Baiviet_Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1727576462,
          "mode": "list",
          "cachedResultName": "Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit#gid=1727576462"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Code6').item.json.title }}",
            "Content": "={{ $('Code6').item.json.content }}",
            "STT": "={{ $('Airtable').item.json.ID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Content",
              "displayName": "Content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        120
      ],
      "id": "3953114f-c994-45fa-a918-ef9a4d8d0ffc",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zMQ8ebEs1buRmmlU",
          "name": "Google Sheets thanhcong"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const title = item.json.title || '';\n  const content = item.json.content || '';\n\n  const cleanedTitle = title.replace(/[*]+/g, '').trim();\n  const cleanedContent = content.replace(/[*]+/g, '').trim();\n\n  return {\n    json: {\n      ...item.json,\n      title: cleanedTitle,\n      content: cleanedContent\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        160
      ],
      "id": "684b1eb3-cfdf-4065-b8c9-745accccbbf5",
      "name": "Code6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f24448-3089-43d7-b140-2727d2f2ae60",
              "name": "title",
              "value": "={{ $('AI Agent').item.json.output.split(\"Title:\")[1].split(\"Content\")[0]}}",
              "type": "string"
            },
            {
              "id": "d4a4a56c-05b5-46cd-8e44-895b892c5f63",
              "name": "content",
              "value": "={{ $('AI Agent').item.json.output.split(\"Content:\")[1]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        460
      ],
      "id": "df098557-9261-42a7-ac31-708002178f6e",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-preview-image-generation:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "$GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.image ? $json.image : '' }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\n      \"TEXT\",\n      \"IMAGE\"\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        240
      ],
      "id": "afc25ba3-57f3-4ba5-afaf-3bb0f5bb4998",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-19T13:10:55.302Z",
  "versionId": "d1485a10-7e28-481b-b239-46c6a52ec861"
}