workflows/rHaGIUji2w9pAh1a.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadSheetTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSheetsTool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ClearAllRows": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NocoDB": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-28T10:03:49.811Z",
  "id": "rHaGIUji2w9pAh1a",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Báo giá tự động",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        120
      ],
      "id": "5034efd6-69c7-4567-941e-105bdcfbb3f1",
      "name": "Telegram Trigger",
      "webhookId": "f328d2ba-dda8-44a3-a317-c22d9a6644b0",
      "credentials": {
        "telegramApi": {
          "id": "qDzKXfVP9TVnreR7",
          "name": "Telegram account TPE Agent"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "fe38a285-79c5-4682-9854-cef7c0ebbf0d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -480,
        120
      ],
      "id": "1fff7b7a-cb58-48aa-a95f-38b27b78facd",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d653a71-2a0a-4739-90f7-1886b5e3f77c",
              "name": "Text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -200,
        0
      ],
      "id": "5f17e275-0c84-47a1-a83c-bd2e3176efd3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        540,
        0
      ],
      "id": "2df77ca1-5e41-4acb-ab20-265b06d26f66",
      "name": "Telegram",
      "webhookId": "376e2b9d-c983-4de1-8b0a-22a14b9ba72a",
      "credentials": {
        "telegramApi": {
          "id": "qDzKXfVP9TVnreR7",
          "name": "Telegram account TPE Agent"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hãy đọc dữ liệu từ NocoDB và thực hiện công việc từ yêu cầu: {{ $('Edit Fields').item.json.Text }}",
        "options": {
          "maxIterations": 50
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        100,
        0
      ],
      "id": "b711dca8-2f15-462a-a0eb-2652f63d4511",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1H_Bspv4PIUOkt7-gb93YT5H0k_zEfsCT1PpyaiY-Sew",
          "mode": "list",
          "cachedResultName": "Báo giá thiết bị phòng Lab STEM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H_Bspv4PIUOkt7-gb93YT5H0k_zEfsCT1PpyaiY-Sew/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 145757057,
          "mode": "list",
          "cachedResultName": "BG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1H_Bspv4PIUOkt7-gb93YT5H0k_zEfsCT1PpyaiY-Sew/edit#gid=145757057"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        500,
        260
      ],
      "id": "c1eb8c11-d29e-4386-a6d5-af49fe6c4da6",
      "name": "ReadSheetTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MdFi8T9cFwG8lGCT",
          "name": "Google Sheets Tranoanh1190"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1av0ihOz0ofVc5-i4oc_lCOil7ihf2Dxl9W-sYm9_QYo",
          "mode": "list",
          "cachedResultName": "Template Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1av0ihOz0ofVc5-i4oc_lCOil7ihf2Dxl9W-sYm9_QYo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 798939724,
          "mode": "list",
          "cachedResultName": "Trang tính 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1av0ihOz0ofVc5-i4oc_lCOil7ihf2Dxl9W-sYm9_QYo/edit#gid=798939724"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "STT": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('STT', `Bắt buộc bắt đầu từ 1`, 'string') }}",
            "Danh mục Hàng Hóa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Danh_m_c_H_ng_H_a', ``, 'string') }}",
            "Thông số hàng hóa HST": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Th_ng_s__h_ng_h_a_HST', ``, 'string') }}",
            "Mã SP": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('M__SP', ``, 'string') }}",
            "Xuất Xứ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Xu_t_X_', ``, 'string') }}",
            "ĐVT": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_VT', ``, 'string') }}",
            "SL": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('SL', ``, 'string') }}",
            "ĐG(-VAT)": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('_G_-VAT_', ``, 'string') }}",
            "Thành tiền": "={{ Number($fromAI('SL', '', 'string')) * Number($fromAI('_G_-VAT_', '', 'string')) }}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Danh mục Hàng Hóa",
              "displayName": "Danh mục Hàng Hóa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thông số hàng hóa HST",
              "displayName": "Thông số hàng hóa HST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Mã SP",
              "displayName": "Mã SP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Xuất Xứ",
              "displayName": "Xuất Xứ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ĐVT",
              "displayName": "ĐVT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SL",
              "displayName": "SL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ĐG(-VAT)",
              "displayName": "ĐG(-VAT)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thành tiền",
              "displayName": "Thành tiền",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        320,
        260
      ],
      "id": "0015e3f0-639b-4f0e-a253-cfc7550bef9b",
      "name": "UpdateSheetsTool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MdFi8T9cFwG8lGCT",
          "name": "Google Sheets Tranoanh1190"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1av0ihOz0ofVc5-i4oc_lCOil7ihf2Dxl9W-sYm9_QYo",
          "mode": "list",
          "cachedResultName": "Template Báo giá",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1av0ihOz0ofVc5-i4oc_lCOil7ihf2Dxl9W-sYm9_QYo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 798939724,
          "mode": "list",
          "cachedResultName": "Trang tính 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1av0ihOz0ofVc5-i4oc_lCOil7ihf2Dxl9W-sYm9_QYo/edit#gid=798939724"
        },
        "clear": "specificRows",
        "startIndex": 2,
        "rowsToDelete": 50
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        140,
        260
      ],
      "id": "2c4f8d3d-e347-41ba-a7d4-cae55c06a62c",
      "name": "ClearAllRows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "MdFi8T9cFwG8lGCT",
          "name": "Google Sheets Tranoanh1190"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        260
      ],
      "id": "84d72517-89b1-45ba-83a2-7c2d63323cd4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7QW3sc3YWshbhrOt",
          "name": "OpenAi Bao gia SP KCedu"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        260
      ],
      "id": "d1fc01c1-0a5d-4b68-b998-4eba77e5cb19",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aQMSpuVjnMlnQnkL",
          "name": "Google Gemini(PaLM) Mr.Oanhnt"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "workspaceId": "w56b9xvy",
        "projectId": "pxkhp0dp0p0syvo",
        "table": "mikgrwkpwo2zve2",
        "id": "={{ $runIndex.toBoolean().toString() }}"
      },
      "type": "n8n-nodes-base.nocoDbTool",
      "typeVersion": 3,
      "position": [
        660,
        260
      ],
      "id": "a7d74b01-0be6-454a-b575-ed4bc5b05860",
      "name": "NocoDB",
      "credentials": {
        "nocoDbApiToken": {
          "id": "Onfl3nSqhjGCJvNR",
          "name": "NocoDB Token account tranoanh1190"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-29T05:02:14.454Z",
  "versionId": "e8be5c0a-b83a-4fb4-8957-a5857c277969"
}