workflows/udgSv8aXKyiFbHUs.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "main": [
        [
          {
            "node": "Clear1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create1": {
      "main": [
        [
          {
            "node": "Clear2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Facebook Graph API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Facebook Graph API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Create1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-19T04:18:07.654Z",
  "id": "udgSv8aXKyiFbHUs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "PhanHoiFaceBook",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3600,
        -600
      ],
      "id": "76881ac9-4b45-4588-86f2-3197dda4a1b7",
      "name": "Telegram Trigger",
      "webhookId": "1134fe1f-5c63-4a41-a9c4-9f8c20159b44",
      "credentials": {
        "telegramApi": {
          "id": "cm8qGuhTq2sKsAJP",
          "name": "Telegram account thanhcong"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7c2384f5-129f-4a74-8dd2-feead4b8b945"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ok"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6ff1553f-3c8b-4b41-86bf-c9b07cf09542",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "ok",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not ok"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2640,
        -440
      ],
      "id": "b8d76eca-8566-40d9-98b1-d7b7c589db9e",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f24448-3089-43d7-b140-2727d2f2ae60",
              "name": "title",
              "value": "={{ $('AI Agent').item.json.output.split(\"Title:\")[1].split(\"Content\")[0]}}",
              "type": "string"
            },
            {
              "id": "d4a4a56c-05b5-46cd-8e44-895b892c5f63",
              "name": "content",
              "value": "={{ $('AI Agent').item.json.output.split(\"Content:\")[1].split(\"image:\")[0]}}",
              "type": "string"
            },
            {
              "id": "9cf88ff4-e772-41d6-acb5-a7a401b207c6",
              "name": "image",
              "value": "={{ $('AI Agent').item.json.output.split(\"image:\")[1]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        -120
      ],
      "id": "1522716e-bc75-4fee-9c40-2a40c2e843d8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const title = item.json.title || '';\n  const content = item.json.content || '';\n  const image = item.json.image || '';\n\n  // Xóa ký tự * và ` bằng regex\n  const cleanedTitle = title.replace(/[*`]+/g, '').trim();\n  const cleanedContent = content.replace(/[*`]+/g, '').trim();\n  const cleanedImage = image.replace(/[*`]+/g, '').trim();\n\n  return {\n    json: {\n      ...item.json,\n      title: cleanedTitle,\n      content: cleanedContent,\n      image: cleanedImage\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        -780
      ],
      "id": "d1766f41-3cdf-4d62-a224-08eedd308ead",
      "name": "Code1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.content }}\n{{ $json.image }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Chú ý: \n- không trả dữ liệu về dưới định dạng json.\n- Trả ra kết quả bằng tiếng Việt\n- Trả ra kết quả dưới dạng Title, Content và image (3 thành phần này cố định về định dạng, không thay đổi, ví dụ: \"image\" thì không được đổi thành \"Image\").\n+ Title: 1 câu tiêu đề  hấp dẫn và thu hút sự chú ý của người đọc, bạn hãy chọn một câu ngắn gọn, dễ hiểu và liên quan đến nội dung chính. \n+ Content: 1 đoạn nội dung chi tiết nói về chủ đề đó, nội dung đầy đủ, kết hợp các icon ở vị trí hợp lý và tránh lạm dụng.\nFormat nội dung cho người dùng dễ nhìn.\nKết hợp thêm các icon để làm bài viết sinh động hơn, tạo cảm giác gần gũi cho người đọc. \nkhông sử dụng các ký tự đặc biệt như dấu \"#\", \"*\".\nBên dưới sẽ có các thẻ được gắn liên quan đến chủ đề và nội dung, khi gắn thẻ hiển thị thẻ màu xanh và người dùng có thể click chuột vào được.Mỗi thẻ xuống dòng cho đẹp và dễ nhìn.\n\n+ image: 1 hình ảnh ở cuối cùng {{ $json.image }}, tách riêng, không liên quan đến content. (Luôn giữ cố định image, không thêm =IMAGE vào phần này).\nChỉnh sửa lại bài viết đó theo các yêu cầu sau:\n {{ $('Telegram Trigger').item.json.message.text }}\n\n(Khi cập nhật dữ liệu vào Sheet Create1, nếu cột \"Image\" có giá trị là một đường link ảnh, hãy tự động chuyển giá trị đó thành công thức=IMAGE(\"url\") trước khi ghi vào Sheet, để hiển thị hình ảnh trực tiếp trong bảng tính. Phải đảm bảo mỗi đường link đều được bao trong công thức =IMAGE(\"...\"). Nếu link đã ở dạng =IMAGE(...) thì giữ nguyên, không thêm thêm lần nữa) => công thức này chỉ áp dụng khi thêm ảnh vào Sheet Create1, không áp dụng vào facebook."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2720,
        -80
      ],
      "id": "dc60325b-66e2-4af0-b994-5975816f57ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2920,
        220
      ],
      "id": "0b969387-c31e-4b49-9b63-eff8628415b0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FqUSMVyYsnEe60zX",
          "name": "Gemini api_thanhcong"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f24448-3089-43d7-b140-2727d2f2ae60",
              "name": "title",
              "value": "={{ $('AI Agent1').item.json.output.split(\"Title:\")[1].split(\"Content:\")[0]}}",
              "type": "string"
            },
            {
              "id": "d4a4a56c-05b5-46cd-8e44-895b892c5f63",
              "name": "content",
              "value": "={{ $('AI Agent1').item.json.output.split(\"Content:\")[1].split(\"Image:\")[0]}}",
              "type": "string"
            },
            {
              "id": "d351a32c-b6ab-4395-b906-e59e0b2d5ecb",
              "name": "image",
              "value": "={{ $('AI Agent1').item.json.output.split(\"Image:\")[1]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2140,
        -740
      ],
      "id": "538c77fc-4bdd-4cc8-998a-751c3c814adc",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const postDate = new Date().toLocaleString(\"vi-VN\", { timeZone: \"Asia/Ho_Chi_Minh\" });\nreturn [\n  {\n    json: {\n      postDate: postDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        -700
      ],
      "id": "f06a2bee-468d-4004-b168-af2ac6e9fea0",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const title = item.json.title || '';\n  const content = item.json.content || '';\n  const image = item.json.image || '';\n\n  // Xóa ký tự * và ` bằng regex\n  const cleanedTitle = title.replace(/[*`]+/g, '').trim();\n  const cleanedContent = content.replace(/[*`]+/g, '').trim();\n  const cleanedImage = image.replace(/[*`]+/g, '').trim();\n\n  return {\n    json: {\n      ...item.json,\n      title: cleanedTitle,\n      content: cleanedContent,\n      image: cleanedImage\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        -180
      ],
      "id": "6b54d643-84ab-4762-92cb-ddc208877482",
      "name": "Code2"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.title }}\n{{ $json.content }}"
              },
              {
                "name": "url",
                "value": "={{ $json.image }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1620,
        -200
      ],
      "id": "7a78785c-2d4f-4586-8b64-a928237d11a5",
      "name": "Facebook Graph API1",
      "credentials": {
        "facebookGraphApi": {
          "id": "30OmaJU4fBnWvWCI",
          "name": "Facebook thanhcong"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const postDate = new Date().toLocaleString(\"vi-VN\", { timeZone: \"Asia/Ho_Chi_Minh\" });\nreturn [\n  {\n    json: {\n      postDate: postDate\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1240,
        20
      ],
      "id": "56ab4818-f420-4489-8dee-d64ba80e1975",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU",
          "mode": "list",
          "cachedResultName": "Baiviet_Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "baiviet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nội dung bài viết": "={{ $('Code1').item.json.content }}",
            "Tiêu đề bài viết": "={{ $('Code1').item.json.title }}",
            "Ngày đăng": "={{ $('Code3').item.json.postDate }}",
            "STT": "={{ $json.stt }}",
            "Link bài viết": "=https://www.facebook.com/61566487538853/posts/{{ $('Facebook Graph API2').item.json.post_id }}\n",
            "Image": "==IMAGE(\"{{ $('HTTP Request1').item.json.image }}\")"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tiêu đề bài viết",
              "displayName": "Tiêu đề bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung bài viết",
              "displayName": "Nội dung bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ngày đăng",
              "displayName": "Ngày đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -720,
        -720
      ],
      "id": "ee1b3084-f6a2-46ee-bcc9-98703db9fce3",
      "name": "Create",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zMQ8ebEs1buRmmlU",
          "name": "Google Sheets thanhcong"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU",
          "mode": "list",
          "cachedResultName": "Baiviet_Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1727576462,
          "mode": "list",
          "cachedResultName": "Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit#gid=1727576462"
        },
        "clear": "specificRows",
        "startIndex": 2,
        "rowsToDelete": 5
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -500,
        -520
      ],
      "id": "f2d26320-d2ee-4f68-a033-72b45a2c52cb",
      "name": "Clear1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zMQ8ebEs1buRmmlU",
          "name": "Google Sheets thanhcong"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU",
          "mode": "list",
          "cachedResultName": "Baiviet_Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1727576462,
          "mode": "list",
          "cachedResultName": "Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit#gid=1727576462"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -3320,
        -620
      ],
      "id": "d22a794c-9327-4139-bc85-36984573e615",
      "name": "Get",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zMQ8ebEs1buRmmlU",
          "name": "Google Sheets thanhcong"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "76f24448-3089-43d7-b140-2727d2f2ae60",
              "name": "title",
              "value": "={{ $json.Title }}",
              "type": "string"
            },
            {
              "id": "d4a4a56c-05b5-46cd-8e44-895b892c5f63",
              "name": "content",
              "value": "={{ $json.Content }}",
              "type": "string"
            },
            {
              "id": "87c83097-3548-4444-90f7-3e6b762178ee",
              "name": "image",
              "value": "={{ $json.Image }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3080,
        -620
      ],
      "id": "aa665774-76f4-4620-b456-2b1a4f97c38b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU",
          "mode": "list",
          "cachedResultName": "Baiviet_Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "baiviet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nội dung bài viết": "={{ $('HTTP Request').item.json.content }}",
            "Tiêu đề bài viết": "={{ $('HTTP Request').item.json.title }}",
            "Ngày đăng": "={{ $('Code').item.json.postDate }}",
            "STT": "={{ $json.stt }}",
            "Link bài viết": "=https://www.facebook.com/61566487538853/posts/{{ $('Facebook Graph API1').item.json.post_id }}\n",
            "Image": "==IMAGE(\"{{ $('HTTP Request').item.json.image }}\")"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "STT",
              "displayName": "STT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tiêu đề bài viết",
              "displayName": "Tiêu đề bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nội dung bài viết",
              "displayName": "Nội dung bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image",
              "displayName": "Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ngày đăng",
              "displayName": "Ngày đăng",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link bài viết",
              "displayName": "Link bài viết",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -780,
        80
      ],
      "id": "1897c502-d286-4f73-9044-9b976dbdec62",
      "name": "Create1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zMQ8ebEs1buRmmlU",
          "name": "Google Sheets thanhcong"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Code2').item.json.image }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        -100
      ],
      "id": "4ef82242-5c35-4755-bb95-35e1b9d2f175",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $('Code1').item.json.image }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1720,
        -740
      ],
      "id": "eca224bc-c9f6-48ca-a244-65659ce2e59d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}\n{{ $json.content }}\n{{ $json.image }}",
        "options": {
          "systemMessage": "=- Không trả về dưới dạng Json.\n- Trả ra kết quả bằng tiếng Việt\n- Trả ra kết quả dưới dạng Title, Content và image\n+ Title: Giữ nguyên. \n+ Content: Giữ nguyên.\n+ image: Giữ nguyên\n\n(Khi cập nhật dữ liệu vào Sheet Create, nếu cột \"Image\" có giá trị là một đường link ảnh, hãy tự động chuyển giá trị đó thành công thức =IMAGE(\"url\") trước khi ghi vào Sheet, để hiển thị hình ảnh trực tiếp trong bảng tính. Phải đảm bảo mỗi đường link đều được bao trong công thức =IMAGE(\"...\"). Nếu link đã ở dạng =IMAGE(...) thì giữ nguyên, không thêm thêm lần nữa) => công thức này chỉ áp dụng khi thêm ảnh vào Sheet Create1, không áp dụng vào facebook."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2500,
        -860
      ],
      "id": "30a96a52-804a-497b-a83b-fdb7f8c085ce",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v20.0",
        "node": "me",
        "edge": "photos",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "caption",
                "value": "={{ $json.title }}\n{{ $json.content }}"
              },
              {
                "name": "url",
                "value": "={{ $json.image }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -1540,
        -520
      ],
      "id": "8ee7eafc-6180-438e-8658-8271e65aa5c7",
      "name": "Facebook Graph API2",
      "credentials": {
        "facebookGraphApi": {
          "id": "30OmaJU4fBnWvWCI",
          "name": "Facebook thanhcong"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-exp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2440,
        -640
      ],
      "id": "fee5ee2e-a5c5-4304-b915-463f32f7561c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "FqUSMVyYsnEe60zX",
          "name": "Gemini api_thanhcong"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "=Bài viết của bạn đã được đăng thành công.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -720,
        -280
      ],
      "id": "8a440dc0-27f0-49f0-ba95-c55b2f3d7151",
      "name": "Telegram",
      "webhookId": "8810c246-ea26-4563-90c1-d203810b4229",
      "credentials": {
        "telegramApi": {
          "id": "cm8qGuhTq2sKsAJP",
          "name": "Telegram account thanhcong"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Đếm dòng có tiêu đề hoặc nội dung\nconst validRows = items.filter(item => {\n  return item.json['Tiêu đề bài viết'] || item.json['Nội dung bài viết'];\n});\n\nreturn [{ json: { stt: validRows.length + 1 } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1020,
        -800
      ],
      "id": "5559fcff-79f2-42ab-b96f-d8a3177f0c27",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "// Đếm dòng có tiêu đề hoặc nội dung\nconst validRows = items.filter(item => {\n  return item.json['Tiêu đề bài viết'] || item.json['Nội dung bài viết'];\n});\n\nreturn [{ json: { stt: validRows.length + 1 } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -980,
        -100
      ],
      "id": "620b79f8-c6c2-47d4-8abb-31c8c01be181",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU",
          "mode": "list",
          "cachedResultName": "Baiviet_Facebook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1727576462,
          "mode": "list",
          "cachedResultName": "Doc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k5JoC5BwrULBg0VFaGY9uO-GYioiyz4CdnyTaAAgjhU/edit#gid=1727576462"
        },
        "clear": "specificRows",
        "startIndex": 2,
        "rowsToDelete": 5
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -480,
        60
      ],
      "id": "4eca9fee-52dd-4af7-a0ad-48dfe81fffa7",
      "name": "Clear2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zMQ8ebEs1buRmmlU",
          "name": "Google Sheets thanhcong"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-05-20T14:42:16.388Z",
  "versionId": "27d6d407-3744-4e03-b144-ec8490ede091"
}