workflows/vzEtH2MrNfVsKnP7.json
{
  "active": false,
  "connections": {
    "Zalo User Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Phân loại kiểu tin nhắn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra có lệnh tạo ảnh": {
      "main": [
        [
          {
            "node": "Tạo mảng 4 số",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuyển đổi Base64 thành file ảnh": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Trick save json",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo mảng 4 số": {
      "main": [
        [
          {
            "node": "Chuyển biến count thành mảng cho Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuyển biến count thành mảng cho Output": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phân loại kiểu tin nhắn": {
      "main": [
        [
          {
            "node": "Kiểm tra có lệnh tạo ảnh",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Zalo User Interact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Zalo User Interact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Dùng AI để dịch yêu cầu người dùng sang tiếng anh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chuyển đổi Base64 thành file ảnh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Check Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Retry": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trick save json": {
      "main": [
        [
          {
            "node": "Gửi ảnh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Zalo User Interact3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Xoá ảnh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Video": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Call Gemini API with Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dùng AI để dịch yêu cầu người dùng sang tiếng anh": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_schema": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "run_sql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Dùng AI để dịch yêu cầu người dùng sang tiếng anh",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Zalo User Interact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-20T10:18:44.333Z",
  "id": "vzEtH2MrNfVsKnP7",
  "isArchived": false,
  "meta": null,
  "name": "Bài 4 Full",
  "nodes": [
    {
      "parameters": {
        "events": [
          "group_event"
        ],
        "allowedThreadIds": "2541917905665255317"
      },
      "type": "n8n-nodes-zalo-user.zaloUser",
      "typeVersion": 2,
      "position": [
        160,
        1780
      ],
      "id": "8b67846c-20c1-47d7-a78b-452add9a8fa3",
      "name": "Zalo User Trigger",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "WbCez0OLVE1tXlki",
          "name": "Zalo OanhTran Land"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84700ced-9d55-4241-86ba-641b7933e0aa",
              "leftValue": "={{ $('Zalo User Trigger').item.json.isSelf }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        1780
      ],
      "id": "f7b736c4-0cda-4cf2-997b-aba70fecb3e5",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=2threadId:{{ $('Zalo User Trigger').item.json.threadId }}:uidFrom:{{ $('Zalo User Trigger').item.json.data.uidFrom }}",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1800,
        1100
      ],
      "id": "215b5c70-997e-46f6-ae8f-ebe83c52992d",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "hTRAls3X7dPKERDG",
          "name": "Redis Local VPS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7147ae5-c964-4891-bd3b-73662d39c1d2",
              "leftValue": "={{ $json.data.content }}",
              "rightValue": "/image",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        920
      ],
      "id": "f6989a0b-f0d8-4d28-97e0-3a97df3f6fd9",
      "name": "Kiểm tra có lệnh tạo ảnh"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp-image-generation:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ \n  [\"thaykeyvaoday\"\n  ][Math.floor(Math.random() * 4)] \n}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"generationConfig\": {\n    \"temperature\": 0.5,\n    \"responseModalities\": [\n      \"image\",\n      \"text\"\n    ],\n    \"responseMimeType\": \"text/plain\"\n  },\n  \"contents\": [\n    {\n      \"role\": \"user\",\n      \"parts\": [\n        {\n          \"text\": \"generate image {{ $('Zalo User Trigger').item.json.data?.content.substring(7) }}. Do not include any text, letters, characters, or watermark inside the image\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2320,
        360
      ],
      "id": "f1bf0d18-171c-4e37-9f66-1dae745ee2ad",
      "name": "HTTP Request",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    binary: {\n      data: {\n        data: $input.first().json.candidates[0].content?.parts?.find(p => p.inlineData?.mimeType === 'image/png')?.inlineData?.data,\n        mimeType: \"image/png\",\n        fileName: 'output.png', // tên file\n      },\n    },\n    json: $('Zalo User Trigger').first().json, // bạn có thể giữ lại dữ liệu json nếu cần\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        420
      ],
      "id": "32e9fb43-2479-4722-b051-aca212374333",
      "name": "Chuyển đổi Base64 thành file ảnh"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/images-{{ $json.data.ts }}-{{ $('Loop Over Items').item.json.count }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3220,
        420
      ],
      "id": "de38637d-4399-427d-955b-a395192ca56c",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "command": "=find /home/node -type f -mmin +10 -exec rm {} \\;"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        380,
        -200
      ],
      "id": "db1d6599-cded-4ff0-867d-e1e286d6eaf1",
      "name": "Xoá ảnh"
    },
    {
      "parameters": {
        "threadId": "2541917905665255317"
      },
      "type": "n8n-nodes-zalo-user.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        2700,
        80
      ],
      "id": "f67a1fa7-1e07-4341-96bd-c9fbc91b5dbc",
      "name": "Gửi ảnh",
      "alwaysOutputData": true,
      "executeOnce": true,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "WbCez0OLVE1tXlki",
          "name": "Zalo OanhTran Land"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1920,
        400
      ],
      "id": "434b9404-00a1-4fa5-8168-1b191af76029",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3440,
        480
      ],
      "id": "66847d55-cf45-414a-8d6a-8226a849e830",
      "name": "Wait",
      "webhookId": "58af477c-b36d-436c-80c1-04d616b8b4e7"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38ddf2e3-176e-4a5a-9392-48df66a3dde7",
              "name": "count",
              "value": "[1,2,3,4]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        400
      ],
      "id": "bd532803-ac66-490a-a65b-c06b44cc9916",
      "name": "Tạo mảng 4 số"
    },
    {
      "parameters": {
        "fieldToSplitOut": "count",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1500,
        400
      ],
      "id": "83445b50-f1a3-42da-a906-3b215fc98c83",
      "name": "Chuyển biến count thành mảng cho Output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.msgType }}",
                    "rightValue": "webchat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dab6ae22-64bf-4b56-b18a-49d136e59e46"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8aa6ca0d-5151-465d-8576-234294b77876",
                    "leftValue": "={{ $json.data.msgType }}",
                    "rightValue": "chat.sticker",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sticker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8bdb716e-0efd-4e9a-9df7-e6fe24aa1963",
                    "leftValue": "={{ $json.data.msgType }}",
                    "rightValue": "chat.photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2537a5f-6001-4594-ac2f-3e603397170b",
                    "leftValue": "={{ $json.data.msgType }}",
                    "rightValue": "=chat.video.msg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        600,
        1760
      ],
      "id": "12154ae4-f13b-4b92-8877-313758615828",
      "name": "Phân loại kiểu tin nhắn"
    },
    {
      "parameters": {
        "text": "=hãy trích xuất tên, số điện thoại, email\ntừ nội dung này {{ $json.data.content }}\nnếu không có thì trả về unknown",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"phone\": {\n      \"type\": \"string\"\n    },\n    \"email\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"phone\",\n    \"email\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1040,
        1180
      ],
      "id": "80fe8bb8-d6a6-49ec-9eb1-e904f1a57671",
      "name": "Information Extractor",
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        1400
      ],
      "id": "48981e40-a197-4b5f-baa1-eca69b84d863",
      "name": "Google Gemini Chat Model1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-zalo-user.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        1500,
        1180
      ],
      "id": "cae85791-69ef-400f-960a-4fa6140805cd",
      "name": "Zalo User Interact1",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant. Whenever askes to update a task, call the tools first to get data.\nAuto translate to english before using tool\nAuto using get_scheme before run sql\n\nToday's date: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1820,
        880
      ],
      "id": "2e584314-cdba-4a6d-b865-6aad8054fe2f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "url": "={{ $json.data.content.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        1780
      ],
      "id": "6e354c1e-d1ac-4059-837b-5ab9a01fe510",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=phân tích ảnh này\n{{ $json.data.previewThumb }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1040,
        1680
      ],
      "id": "c71419fa-380b-40c4-ad05-e0f1fb290785",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        1900
      ],
      "id": "98d26e0f-bfd7-44bb-a8b1-9f3b107538b0",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "aQMSpuVjnMlnQnkL",
          "name": "Google Gemini(PaLM) Mr.Oanhnt"
        }
      }
    },
    {
      "parameters": {
        "text": "=trích xuất nội dung hoá đơn gồm tên, số lượng, giá tiền, tổng tiền\n{{ $('AI Agent1').item.json.output }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\"\n    },\n    \"quantity\": {\n      \"type\": \"string\"\n    },\n    \"price\": {\n      \"type\": \"string\"\n    },\n    \"sum\": {\n      \"type\": \"string\"\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"quantity\",\n    \"price\",\n    \"sum\"\n  ]\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        2240,
        1420
      ],
      "id": "f7d2729b-13e7-424f-b834-f7d24f54c58a",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2320,
        1640
      ],
      "id": "a035f54d-6457-4f76-95e3-c6b18942bae8",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "aQMSpuVjnMlnQnkL",
          "name": "Google Gemini(PaLM) Mr.Oanhnt"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=tóm tắt nội dung của cái hoá đơn này, trả lời dạng text, không chứa markdown, không chứa mã html\n{{ JSON.stringify($json.output) }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2620,
        1280
      ],
      "id": "acfa112c-1ea0-4c9e-941b-a64b69b6dabb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2700,
        1500
      ],
      "id": "55eecafa-5934-4fdc-aadc-4db5ed8f1e53",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "aQMSpuVjnMlnQnkL",
          "name": "Google Gemini(PaLM) Mr.Oanhnt"
        }
      }
    },
    {
      "parameters": {
        "threadId": "2541917905665255317"
      },
      "type": "n8n-nodes-zalo-user.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        3000,
        1380
      ],
      "id": "ecddbfe8-8f07-42f5-8e0e-ce15af665103",
      "name": "Zalo User Interact2",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "WbCez0OLVE1tXlki",
          "name": "Zalo OanhTran Land"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=theo bạn thì nội dung có liên quan đến hoá đơn bán hàng hay không, nếu có trả lời true, không trả lời false\n{{ $json.output }}\n\nlưu ý chỉ trả lời true hoặc false"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1420,
        1680
      ],
      "id": "c9ef3ec0-0d6b-4d8b-b4d8-0e1d3acd9f18",
      "name": "Basic LLM Chain1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1520,
        1900
      ],
      "id": "7bf6abf6-aff6-49d7-bf0a-01ad6200df7b",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "aQMSpuVjnMlnQnkL",
          "name": "Google Gemini(PaLM) Mr.Oanhnt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "162779ef-3a09-4cf7-bee7-2d9d99c2caf4",
              "leftValue": "={{ $json.text.toLowerCase() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        1780
      ],
      "id": "ecefecf2-746a-4df0-941c-31afe0df2200",
      "name": "If1"
    },
    {
      "parameters": {
        "threadId": "2541917905665255317"
      },
      "type": "n8n-nodes-zalo-user.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        2700,
        1980
      ],
      "id": "c8deb613-bfcc-4829-95fa-16006ca1eb46",
      "name": "Zalo User Interact3",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "WbCez0OLVE1tXlki",
          "name": "Zalo OanhTran Land"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2700,
        1680
      ],
      "id": "0f5e738d-4f52-49a5-b818-ee4a6d49caa3",
      "name": "Google Sheets",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54857a71-f842-4b75-944e-0e51d618c120",
              "leftValue": "={{ $('Zalo User Trigger').item.json.data?.content }}",
              "rightValue": "/ai",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        880
      ],
      "id": "21fb266c-174a-47d4-9af6-8bbd6d88193d",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "99f6d028-013f-479d-8dab-09310fb954eb",
              "leftValue": "={{ new Array(\"IMAGE_SAFETY\") }}",
              "rightValue": "={{ $json.candidates[0].finishReason }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2700,
        280
      ],
      "id": "7a910252-ff02-4bfe-ab86-3ccdc4e83615",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "incr",
        "key": "=GeminiRetry:{{ $('Zalo User Trigger').item.json.data.ts }}-{{ $('Loop Over Items').item.json.count }}",
        "expire": true,
        "ttl": 300
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3000,
        220
      ],
      "id": "0b18b04c-0cc1-444a-8949-b53cbcc8114e",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "hTRAls3X7dPKERDG",
          "name": "Redis Local VPS"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8956b78-bdd9-4979-9309-c63f1317adc2",
              "leftValue": "={{ $json.values()[0] }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3220,
        220
      ],
      "id": "d5a65d1b-a906-4a61-b09d-3bb5582fc779",
      "name": "Check Retry"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3440,
        280
      ],
      "id": "dc37a91c-7437-4443-897a-031c8651b07d",
      "name": "Wait1",
      "webhookId": "c62cb009-a65e-4fbc-ba28-38a0c04bb439"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b35b380e-ec2b-4d65-9fdf-c07bc91345f0",
              "name": "json",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2320,
        80
      ],
      "id": "f216570f-3e3a-4a63-8c79-ddc8a2d50ca3",
      "name": "Trick save json"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hãy tóm tắt nội dung sau đây, không chứa markdown trong câu trả lời:\n{{ $('AI Agent1').item.json.output }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        2240,
        1980
      ],
      "id": "783f3012-6a3f-4ede-b3fe-42483b31bd80",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2320,
        2200
      ],
      "id": "0948190e-8dc6-4245-94b3-c64f6542e525",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "aQMSpuVjnMlnQnkL",
          "name": "Google Gemini(PaLM) Mr.Oanhnt"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        -200
      ],
      "id": "19d46eb0-2766-48d3-a66f-410b1368d27a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $('Zalo User Trigger').item.json.data.content.href }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        2080
      ],
      "id": "bd1fce26-5e6b-40e9-b040-5f32a7befa57",
      "name": "HTTP Video",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1500,
        2080
      ],
      "id": "358639e3-d1d3-4d22-b1ce-77759ce5a95b",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Whats on this video?\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"video/mp4\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "options": {}
      },
      "id": "3cf6e142-288d-4fe4-8a66-4b211d66582e",
      "name": "Call Gemini API with Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1920,
        2080
      ],
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/files",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyB_oKDV0bxtlalzlhXiYhNAvG18gMHTmg8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2080
      ],
      "id": "36ed7419-b036-4a96-bf2f-5e81d87aa2c8",
      "name": "HTTP Request2",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Table: customers\nCREATE TABLE customers (\n    customer_id SERIAL PRIMARY KEY,\n    customer_name VARCHAR(100),\n    contact_name VARCHAR(100),\n    address VARCHAR(255),\n    city VARCHAR(100),\n    postal_code VARCHAR(20),\n    country VARCHAR(100)\n);\n\n-- Table: suppliers\nCREATE TABLE suppliers (\n    supplier_id SERIAL PRIMARY KEY,\n    supplier_name VARCHAR(100),\n    contact_name VARCHAR(100),\n    address VARCHAR(255),\n    city VARCHAR(100),\n    postal_code VARCHAR(20),\n    country VARCHAR(100),\n    phone VARCHAR(30)\n);\n\n-- Table: categories\nCREATE TABLE categories (\n    category_id SERIAL PRIMARY KEY,\n    category_name VARCHAR(100),\n    description TEXT\n);\n\n-- Table: products\nCREATE TABLE products (\n    product_id SERIAL PRIMARY KEY,\n    product_name VARCHAR(100),\n    supplier_id INT REFERENCES suppliers(supplier_id),\n    category_id INT REFERENCES categories(category_id),\n    unit VARCHAR(100),\n    price NUMERIC(10, 2)\n);\n\n-- Table: employees\nCREATE TABLE employees (\n    employee_id SERIAL PRIMARY KEY,\n    last_name VARCHAR(100),\n    first_name VARCHAR(100),\n    birth_date DATE,\n    photo TEXT,\n    notes TEXT\n);\n\n-- Table: shippers\nCREATE TABLE shippers (\n    shipper_id SERIAL PRIMARY KEY,\n    shipper_name VARCHAR(100),\n    phone VARCHAR(30)\n);\n\n-- Table: orders\nCREATE TABLE orders (\n    order_id SERIAL PRIMARY KEY,\n    customer_id INT REFERENCES customers(customer_id),\n    employee_id INT REFERENCES employees(employee_id),\n    order_date DATE,\n    shipper_id INT REFERENCES shippers(shipper_id)\n);\n\n-- Table: order_details\nCREATE TABLE order_details (\n    order_detail_id SERIAL PRIMARY KEY,\n    order_id INT REFERENCES orders(order_id),\n    product_id INT REFERENCES products(product_id),\n    quantity INT\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        2340
      ],
      "id": "e4d6b3ef-4bb6-4c0e-9231-3ad96219281c",
      "name": "Khởi tạo bảng dữ liệu",
      "credentials": {
        "postgres": {
          "id": "sD3JQqodL9QJwFZl",
          "name": "Postgres Supabase Internal"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO customers (customer_name, contact_name, address, city, postal_code, country) VALUES\n('Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),\n('Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '05022', 'Mexico'),\n('Ernst Handel', 'Roland Mendel', 'Kirchgasse 6', 'Graz', '8010', 'Austria'),\n('Island Trading', 'Helen Bennett', 'Garden House Crowther Way', 'Cowes', 'PO31 7PJ', 'UK');\n\n  INSERT INTO suppliers (supplier_name, contact_name, address, city, postal_code, country, phone) VALUES\n('Exotic Liquids', 'Charlotte Cooper', '49 Gilbert St.', 'London', 'EC1 4SD', 'UK', '1715552222'),\n('New Orleans Cajun Delights', 'Shelley Burke', 'P.O. Box 78934', 'New Orleans', '70117', 'USA', '5045554822');\n\n\n  INSERT INTO categories (category_name, description) VALUES\n('Beverages', 'Soft drinks, coffees, teas, beers, and ales'),\n('Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings');\n\n  INSERT INTO products (product_name, supplier_id, category_id, unit, price) VALUES\n('Chai', 1, 1, '10 boxes x 20 bags', 18.00),\n('Chang', 1, 1, '24 - 12 oz bottles', 19.00),\n('Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10.00),\n('Chef Anton''s Cajun Seasoning', 2, 2, '48 - 6 oz jars', 22.00);\n\n\n  INSERT INTO employees (last_name, first_name, birth_date, photo, notes) VALUES\n('Davolio', 'Nancy', '1968-12-08', '', 'Education includes a BA in psychology from Colorado State University.'),\n('Fuller', 'Andrew', '1952-02-19', '', 'Andrew received his BTS commercial in 1974 and a Ph.D. in international marketing.');\n\n\n  INSERT INTO shippers (shipper_name, phone) VALUES\n('Speedy Express', '5035559831'),\n('United Package', '5035553199'),\n('Federal Shipping', '5035559931');\n\n\n  INSERT INTO orders (customer_id, employee_id, order_date, shipper_id) VALUES\n(1, 1, '2023-05-01', 1),\n(2, 2, '2023-05-03', 2),\n(3, 1, '2023-05-05', 3),\n(4, 2, '2023-05-07', 1);\n\n\n  INSERT INTO order_details (order_id, product_id, quantity) VALUES\n(1, 1, 12),\n(1, 2, 10),\n(2, 3, 5),\n(3, 4, 7),\n(4, 2, 3);\n\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        160,
        2600
      ],
      "id": "ec2832b2-e104-457c-9bdb-5c1a19ba4263",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "sD3JQqodL9QJwFZl",
          "name": "Postgres Supabase Internal"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=translate into English: {{ $json?.data?.content?.substring(4) }}\nResponse only text input"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1420,
        780
      ],
      "id": "da21e391-c203-4843-824d-cde0dc2f38df",
      "name": "Dùng AI để dịch yêu cầu người dùng sang tiếng anh"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "get_scheme of 8 table",
        "operation": "executeQuery",
        "query": "SELECT table_name, column_name, data_type, is_nullable\nFROM information_schema.columns\nWHERE table_name IN (\n    'customers',\n    'suppliers',\n    'categories',\n    'products',\n    'employees',\n    'shippers',\n    'orders',\n    'order_details'\n)\nORDER BY table_name, ordinal_position;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        1920,
        1100
      ],
      "id": "29c406ab-7f4a-44b3-8b81-234f9d3c8980",
      "name": "get_schema",
      "credentials": {
        "postgres": {
          "id": "sD3JQqodL9QJwFZl",
          "name": "Postgres Supabase Internal"
        }
      },
      "notes": "Truy xuất thông tin của các bảng"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "run sql after get_scheme",
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql', 'sql') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        2040,
        1100
      ],
      "id": "c7def61e-60a2-412c-87c9-bebab9068a3a",
      "name": "run_sql",
      "credentials": {
        "postgres": {
          "id": "sD3JQqodL9QJwFZl",
          "name": "Postgres Supabase Internal"
        }
      },
      "notes": "Lệnh truy vấn được tạo bởi AI"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1580,
        1060
      ],
      "id": "47988275-c99b-445f-a6c1-02d3e3a9016f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "aQMSpuVjnMlnQnkL",
          "name": "Google Gemini(PaLM) Mr.Oanhnt"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hyperbolic.xyz/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.thaykeyvaoday.WaRfoN4Z8c4_u_wMT8O8fx0sSBZAySy3gLHeHQpmy6I"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.prompt }}\"\n    }\n  ],\n  \"model\": \"meta-llama/Meta-Llama-3.1-8B-Instruct\",\n  \"max_tokens\": 512,\n  \"temperature\": 0.7,\n  \"top_p\": 0.9,\n  \"stream\": false\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        720
      ],
      "id": "4a3e9dcd-1d29-441e-a041-f800806e8445",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4337edaf-3ebc-4062-9c08-6c44139dfa7e",
              "name": "prompt",
              "value": "=trả lời câu hỏi của người dùng bàng tiếng việt: {{ $json.output.replaceAll(\"\\n\",\"\") }} dựa vào ngữ cảnh của câu hỏi từ người dùng: {{ $('Zalo User Trigger').item.json.data.content.substring(4).replaceAll(\"\\n\",\"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        880
      ],
      "id": "0c6cb601-2b6c-48af-ba54-985c9b000492",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "threadId": "2541917905665255317",
        "message": "={{ $('AI Agent').item.json.output }}",
        "threadType": 1
      },
      "type": "n8n-nodes-zalo-user.zaloUserInteract",
      "typeVersion": 1,
      "position": [
        3020,
        880
      ],
      "id": "976e7e9d-5450-4404-8543-656fbaf6e955",
      "name": "Zalo User Interact",
      "credentials": {
        "zaloUserCredentialsApi": {
          "id": "WbCez0OLVE1tXlki",
          "name": "Zalo OanhTran Land"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-05-20T14:13:37.067Z",
  "versionId": "100a5f7f-0100-4c8a-b69c-a759b6aec7c1"
}