workflows/ZxBJ7hMiQGIQFgA3.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-05-05T01:43:06.560Z",
  "id": "ZxBJ7hMiQGIQFgA3",
  "isArchived": false,
  "meta": null,
  "name": "If - Switch",
  "nodes": [
    {
      "parameters": {
        "path": "94c14bdd-c062-4c89-80c7-743a385815a7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        20
      ],
      "id": "0834bb1a-d36a-445e-bc2e-f59e49d7a446",
      "name": "Webhook",
      "webhookId": "94c14bdd-c062-4c89-80c7-743a385815a7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16b0b388-bc07-442e-938f-de0c33e7e01a",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        20
      ],
      "id": "cb16c8de-9963-4e33-b02f-c2655795d923",
      "name": "If"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.role }}",
                    "rightValue": "admin",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8c77191d-b9d8-416e-8629-baeb790fed74"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "admin"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ad57ef8-188c-4d89-bd68-5acf9df1d867",
                    "leftValue": "={{ $json.role }}",
                    "rightValue": "user",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "user"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        480,
        -80
      ],
      "id": "ebf39dce-19c2-4196-8ffd-037d0898cbb7",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af3ff5c7-f5e8-4312-9ab2-bf6c1cf2b394",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "3fada601-39c0-4c27-996a-65168530adac",
              "name": "role",
              "value": "={{ $json.role }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        20
      ],
      "id": "23103702-2be9-47cd-bc6f-8b86b4eeec7f",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "name": "Alice",
          "status": "active",
          "role": "admin"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-05T02:01:37.574Z",
  "versionId": "e5e6f04d-1986-40ee-8207-0909bd3208dd"
}